<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ball_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,1937},{107,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,109}}</string>
				<key>sourceSize</key>
				<string>{107,109}</string>
			</dict>

			<key>ball_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,1937},{107,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,109}}</string>
				<key>sourceSize</key>
				<string>{107,109}</string>
			</dict>

			<key>btn_end.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1775},{356,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,113}}</string>
				<key>sourceSize</key>
				<string>{356,113}</string>
			</dict>

			<key>btn_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1593},{385,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,181}}</string>
				<key>sourceSize</key>
				<string>{385,181}</string>
			</dict>

			<key>down_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,1593},{329,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,137}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>down_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,1889},{329,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,129}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>end_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{648,1152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{648,1152}}</string>
				<key>sourceSize</key>
				<string>{648,1152}</string>
			</dict>

			<key>fast_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,262},{326,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,138}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>fast_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,130},{329,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,131}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>gameover.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1889},{336,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{336,47}}</string>
				<key>sourceSize</key>
				<string>{336,47}</string>
			</dict>

			<key>light.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,2019},{20,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,19}}</string>
				<key>sourceSize</key>
				<string>{20,19}</string>
			</dict>

			<key>logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1153},{430,439}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,439}}</string>
				<key>sourceSize</key>
				<string>{430,439}</string>
			</dict>

			<key>normal_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,564},{318,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{318,136}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>normal_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1447},{329,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,129}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>pass.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,0},{329,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,129}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>random_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,401},{323,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{323,162}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>random_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1292},{329,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,11},{329,154}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>reward_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1153},{329,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,138}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>reward_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,1731},{329,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,132}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>score_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1937},{115,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,107}}</string>
				<key>sourceSize</key>
				<string>{115,107}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>