<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ball_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,680},{107,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,109}}</string>
				<key>sourceSize</key>
				<string>{107,109}</string>
			</dict>

			<key>ball_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,790},{107,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,109}}</string>
				<key>sourceSize</key>
				<string>{107,109}</string>
			</dict>

			<key>down_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{329,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,137}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>down_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,824},{329,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,129}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>fast_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,133},{326,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{326,138}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>fast_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,553},{329,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,131}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>light.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,954},{20,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,19}}</string>
				<key>sourceSize</key>
				<string>{20,19}</string>
			</dict>

			<key>normal_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,435},{318,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{318,136}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>normal_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{329,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,129}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>pass.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{329,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,129}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>random_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,272},{323,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{323,162}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>random_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,398},{329,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,11},{329,154}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>reward_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,685},{329,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,138}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>reward_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,0},{329,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,132}}</string>
				<key>sourceSize</key>
				<string>{329,165}</string>
			</dict>

			<key>score_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,572},{115,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,107}}</string>
				<key>sourceSize</key>
				<string>{115,107}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>